/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2023. máj. 12., 15:48:52
    Author     : diak
*/

td{
    width: 10px;
    height: 10px;
}
td.sotet{
    background-color: black;
}

/*input{
    width:1em;
    text-align:center;
}
input:focus{
    border: 2px solid red;
    background-color: #fbbab7;
    font-size: 1em;
}*/
/*Mivel a styles.css-ben megfogalmazottak nem gyakoroltak hatást a shadow dom alattiakra*/

taj-szam{
    display: block;
}